header{
    display: flex; 
    background-color: rgb(34, 113, 150);
    padding: 10px 70px;
    justify-content: space-between;
}

header ul {
    display: flex; 
    gap: 40px; 
}

header li{
    list-style: none; 
}

section{
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.direito img{
  width: 30vw;
  height: 50vw;
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

#home{
    background-color: rgb(98, 169, 197);
}